.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiStepLabel-label.MuiStepLabel-active{
  color: #007bff !important;
  font-size: x-large;
  cursor: pointer
}

.MuiTypography-body2{
  cursor: pointer
}

.MuiStepLabel-label {
  color: rgba(255, 255, 255, 0.54);
}

#neurogramTitle:hover{
  opacity: 0.5;
  cursor: pointer;
}

#menuCard{
  background-color: lightgrey;
}

b{
  color: #007bff
}

#menuCard:hover{
  background-color: white;
  box-shadow: blue;
}

.MuiPaper-elevation24{
  box-shadow: 0px 11px 15px -7px rgba(0,0,255,0.2), 0px 24px 38px 3px rgba(0,0,255,0.14), 0px 9px 46px 8px rgba(0,0,255,0.12) !important;
}

#cardTitle{
  font-size: medium;
}

#form{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}

#introText{
  font-size: medium;
}

#style{
  width: 100%;
}

.select{
  width: 100%
}

#title{
  top: 10px;
  left: 10px;
  position: absolute;
}

.noOutline {
  outline: none !important;  
}

#alert{
  font-size: small;
  color: red;
}

#submitBtn{
  margin-top: 1em;
  width: 100%;
  background-color: green;
}

#parenthesis{
  text-transform: lowercase;
}

.voteBtn {
  text-transform: lowercase;
}

.App-link {
  color: #61dafb;
}

#navBtn{
  display: flex;
  justify-content: space-between;
}

#currentPainting{
  height: 300px;
  width: 300px;
}

#votingButtons{
  display: flex;
  justify-content: space-between;
}

#title{
  margin: 1em;
}

#returnbtn{
  margin-left: 1em
}
